h3{
    border-style:solid;
    border-radius: 12px;
    border-color: rgb(245, 241, 0);
    padding: 5px 2px 5px 2px;
    margin: 5px 2px 15px 2px ;
}
body{
    background-color: rgb(53, 146, 207);

    /* background-color: aqua; */
    /* box-align: center; */
}
div{ 
    background-image: url("DAY 02\img\bg.jpeg");
    border-style: none;
    border-spacing: 10%;
    border-radius: 2px;
    border-color: black;
    margin: 4px, 2px, 4px, 2px;
    padding-top: 12px;
}
    
}
table{

}